# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
*.whl

# Виртуальное окружение
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Django
*.log
db.sqlite3
staticfiles/

# Docker
.env

# Вложенный репозиторий
ORANGE/.git/
"ORANGE/"  
